@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/sky.jpg");
    font-family: "Poller One", cursive;
    color: #eedb00;
    background-attachment: fixed;
}

header, footer {
    background-color: rgba(60, 69, 67, 0.6);
}

header {
    border-radius: 16px 16px 0 0;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

nav {
    position: fixed;
    top: 5px;
    left: 40px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    border: 2px solid black;
    background-color: rgba(204, 3, 35, 0.5);
    cursor: pointer;
    font-size: 1em;
    padding: 0.3em 0.5em;
    border-radius: 5px;
}

.right {
    float: right;
    width: 50%;
    border: 1px solid #eedb00;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    margin-left: 5px;
}

.far-galaxy {
    font-size: 1.45em;
    line-height: 1.35;
    text-align: justify;
}

.right h2 {
    text-align: center;
    font-size: 1em;
}

img[alt="Friend"] {
    width: 100%;
    display: block;
}

.left {
    float: left;
    width: 25%;
    margin: 0.3rem 1.2rem 0 0;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

.left > img {
    box-shadow: 0.6rem 0.6rem 0.6rem gray;
    width: 100%;
    display: block;
}

footer {
    clear: both;
    min-height: 100px;
    margin-bottom: 20px;
}

footer .button {
    display: inline-block;
    margin-right: 20px;
    border: 2px solid black;
    background-color: rgba(204, 3, 35, 0.5);
    cursor: pointer;
    font-size: 1em;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    margin-left: 20px;
}